{{#define id="notaConsultoPlanesCuidados"}}
	{{action id="verPlanesCuidado" hide="=true" condition="=true" type="message" label="Planes Cuidado" width="500" height="300" 
message='
<a class="link" href="http://www.imss.gob.mx/guias_practicaclinica?field_categoria_gs_value=All" target="_blank">Ver Guías de Práctica Clínica</a><br>
<a class="link" href="http://www.cpe.salud.gob.mx/site3/publicaciones/docs/catalogo_planes_cuidado_enfermeria.pdf" target="_blank">Ver Planes de Cuidado de Enfermería</a><br>
<a class="link" href="https://elsevier.health/es/covid-19/home" target="_blank">Herramientas Clínicas COVID-19</a>
'}}  
{{/define}}