{{#define id="datosMicroorganismoPatogenosOportunistas"}}
  {{action id="verRiesgoBmbl" hide="=true" condition="=true" type="message" label="BMBL" width="300" height="300" 
message='<a class="link" href="https://my.absa.org/Riskgroups" target="_blank">Riesgo BMBL</a>' }} 
{{/define}}